<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{66,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>back_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{74,436},{66,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>background1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,768}}</string>
                <key>sourceSize</key>
                <string>{432,768}</string>
            </dict>
            <key>broken_copter_left_wing</key>
            <dict>
                <key>frame</key>
                <string>{{950,492},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>broken_copter_right_wing</key>
            <dict>
                <key>frame</key>
                <string>{{976,492},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>buildings</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{432,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,285}}</string>
                <key>sourceSize</key>
                <string>{432,285}</string>
            </dict>
            <key>cloud1</key>
            <dict>
                <key>frame</key>
                <string>{{1677,229},{168,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,96}}</string>
                <key>sourceSize</key>
                <string>{168,96}</string>
            </dict>
            <key>copter_01</key>
            <dict>
                <key>frame</key>
                <string>{{146,436},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>copter_02</key>
            <dict>
                <key>frame</key>
                <string>{{1318,485},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>copter_03</key>
            <dict>
                <key>frame</key>
                <string>{{1418,485},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>copter_04</key>
            <dict>
                <key>frame</key>
                <string>{{1368,485},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>eight</key>
            <dict>
                <key>frame</key>
                <string>{{950,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>eight_small</key>
            <dict>
                <key>frame</key>
                <string>{{1450,435},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>five</key>
            <dict>
                <key>frame</key>
                <string>{{988,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>five_small</key>
            <dict>
                <key>frame</key>
                <string>{{1473,435},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>four</key>
            <dict>
                <key>frame</key>
                <string>{{1026,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>four_small</key>
            <dict>
                <key>frame</key>
                <string>{{1476,467},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>game_over</key>
            <dict>
                <key>frame</key>
                <string>{{166,436},{282,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,63}}</string>
                <key>sourceSize</key>
                <string>{282,63}</string>
            </dict>
            <key>get_ready</key>
            <dict>
                <key>frame</key>
                <string>{{450,436},{261,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,63}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>ground</key>
            <dict>
                <key>frame</key>
                <string>{{1059,2},{432,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,222}}</string>
                <key>sourceSize</key>
                <string>{432,222}</string>
            </dict>
            <key>hammer</key>
            <dict>
                <key>frame</key>
                <string>{{713,436},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>hammer_string</key>
            <dict>
                <key>frame</key>
                <string>{{760,495},{9,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,45}}</string>
                <key>sourceSize</key>
                <string>{9,45}</string>
            </dict>
            <key>leaderboard_button</key>
            <dict>
                <key>frame</key>
                <string>{{1333,343},{156,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,90}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>leaderboard_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>new_high_score</key>
            <dict>
                <key>frame</key>
                <string>{{1283,412},{48,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,21}}</string>
                <key>sourceSize</key>
                <string>{48,21}</string>
            </dict>
            <key>nine</key>
            <dict>
                <key>frame</key>
                <string>{{1064,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>nine_small</key>
            <dict>
                <key>frame</key>
                <string>{{1499,456},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>one</key>
            <dict>
                <key>frame</key>
                <string>{{1292,435},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>one_small</key>
            <dict>
                <key>frame</key>
                <string>{{1444,485},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>platform</key>
            <dict>
                <key>frame</key>
                <string>{{1283,2},{408,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,33}}</string>
                <key>sourceSize</key>
                <string>{408,33}</string>
            </dict>
            <key>play_button</key>
            <dict>
                <key>frame</key>
                <string>{{1853,92},{156,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>play_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1853,182},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>player1</key>
            <dict>
                <key>frame</key>
                <string>{{1318,435},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>player1_blink</key>
            <dict>
                <key>frame</key>
                <string>{{1362,435},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>player1_idle</key>
            <dict>
                <key>frame</key>
                <string>{{1406,435},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>rate_button</key>
            <dict>
                <key>frame</key>
                <string>{{760,436},{93,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>rate_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{855,436},{93,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>score_board_bg</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{339,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,171}}</string>
                <key>sourceSize</key>
                <string>{339,171}</string>
            </dict>
            <key>seven</key>
            <dict>
                <key>frame</key>
                <string>{{1102,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>seven_small</key>
            <dict>
                <key>frame</key>
                <string>{{1522,456},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>six</key>
            <dict>
                <key>frame</key>
                <string>{{1140,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>six_small</key>
            <dict>
                <key>frame</key>
                <string>{{1545,456},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>swing_copters_title_01</key>
            <dict>
                <key>frame</key>
                <string>{{1491,2},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_02</key>
            <dict>
                <key>frame</key>
                <string>{{1496,229},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_03</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_04</key>
            <dict>
                <key>frame</key>
                <string>{{1677,327},{225,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,177}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>tap_to_play</key>
            <dict>
                <key>frame</key>
                <string>{{1904,272},{102,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,216}}</string>
                <key>sourceSize</key>
                <string>{102,216}</string>
            </dict>
            <key>three</key>
            <dict>
                <key>frame</key>
                <string>{{1178,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>three_small</key>
            <dict>
                <key>frame</key>
                <string>{{1568,456},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>two</key>
            <dict>
                <key>frame</key>
                <string>{{1216,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>two_small</key>
            <dict>
                <key>frame</key>
                <string>{{1591,456},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>zero</key>
            <dict>
                <key>frame</key>
                <string>{{1254,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>zero_small</key>
            <dict>
                <key>frame</key>
                <string>{{1614,456},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{2011,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc3a5063c08b1d3d4b32ae6437dc12e:79294958d692fea0ef4d0b2910402746:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
