<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_button</key>
            <dict>
                <key>frame</key>
                <string>{{1977,408},{66,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>back_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1936,2},{66,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{66,70}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>background1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,768}}</string>
                <key>sourceSize</key>
                <string>{432,768}</string>
            </dict>
            <key>broken_copter_left_wing</key>
            <dict>
                <key>frame</key>
                <string>{{945,49},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>broken_copter_right_wing</key>
            <dict>
                <key>frame</key>
                <string>{{945,75},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>buildings</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{432,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,285}}</string>
                <key>sourceSize</key>
                <string>{432,285}</string>
            </dict>
            <key>cloud1</key>
            <dict>
                <key>frame</key>
                <string>{{1697,229},{168,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,96}}</string>
                <key>sourceSize</key>
                <string>{168,96}</string>
            </dict>
            <key>copter_01</key>
            <dict>
                <key>frame</key>
                <string>{{605,471},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>copter_02</key>
            <dict>
                <key>frame</key>
                <string>{{673,471},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>copter_03</key>
            <dict>
                <key>frame</key>
                <string>{{930,407},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>copter_04</key>
            <dict>
                <key>frame</key>
                <string>{{723,471},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>eight</key>
            <dict>
                <key>frame</key>
                <string>{{1351,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>eight_small</key>
            <dict>
                <key>frame</key>
                <string>{{773,471},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>five</key>
            <dict>
                <key>frame</key>
                <string>{{1389,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>five_small</key>
            <dict>
                <key>frame</key>
                <string>{{805,471},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>four</key>
            <dict>
                <key>frame</key>
                <string>{{1427,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>four_small</key>
            <dict>
                <key>frame</key>
                <string>{{837,471},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>game_over</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{282,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,63}}</string>
                <key>sourceSize</key>
                <string>{282,63}</string>
            </dict>
            <key>get_ready</key>
            <dict>
                <key>frame</key>
                <string>{{286,436},{261,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,63}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>ground</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{432,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,222}}</string>
                <key>sourceSize</key>
                <string>{432,222}</string>
            </dict>
            <key>hammer</key>
            <dict>
                <key>frame</key>
                <string>{{1172,436},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>hammer_string</key>
            <dict>
                <key>frame</key>
                <string>{{945,2},{9,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,45}}</string>
                <key>sourceSize</key>
                <string>{9,45}</string>
            </dict>
            <key>leaderboard_button</key>
            <dict>
                <key>frame</key>
                <string>{{772,343},{156,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,90}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>leaderboard_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1503,410},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>nine</key>
            <dict>
                <key>frame</key>
                <string>{{1465,436},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>nine_small</key>
            <dict>
                <key>frame</key>
                <string>{{869,471},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>one</key>
            <dict>
                <key>frame</key>
                <string>{{549,471},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>one_small</key>
            <dict>
                <key>frame</key>
                <string>{{965,468},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>platform</key>
            <dict>
                <key>frame</key>
                <string>{{549,436},{408,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,33}}</string>
                <key>sourceSize</key>
                <string>{408,33}</string>
            </dict>
            <key>play_button</key>
            <dict>
                <key>frame</key>
                <string>{{1661,410},{156,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>play_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1819,408},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>player1</key>
            <dict>
                <key>frame</key>
                <string>{{1219,436},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>player1_blink</key>
            <dict>
                <key>frame</key>
                <string>{{1263,436},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>player1_idle</key>
            <dict>
                <key>frame</key>
                <string>{{1307,436},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>rate_button</key>
            <dict>
                <key>frame</key>
                <string>{{982,436},{93,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>rate_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1077,436},{93,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>score_board_bg</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{339,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,171}}</string>
                <key>sourceSize</key>
                <string>{339,171}</string>
            </dict>
            <key>seven</key>
            <dict>
                <key>frame</key>
                <string>{{2008,2},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>seven_small</key>
            <dict>
                <key>frame</key>
                <string>{{901,471},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>six</key>
            <dict>
                <key>frame</key>
                <string>{{2008,58},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>six_small</key>
            <dict>
                <key>frame</key>
                <string>{{933,471},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>swing_copters_title_01</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_02</key>
            <dict>
                <key>frame</key>
                <string>{{1470,229},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_03</key>
            <dict>
                <key>frame</key>
                <string>{{1651,2},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_04</key>
            <dict>
                <key>frame</key>
                <string>{{1819,229},{225,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,177}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>tap_to_play</key>
            <dict>
                <key>frame</key>
                <string>{{1832,2},{102,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,216}}</string>
                <key>sourceSize</key>
                <string>{102,216}</string>
            </dict>
            <key>three</key>
            <dict>
                <key>frame</key>
                <string>{{1936,70},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>three_small</key>
            <dict>
                <key>frame</key>
                <string>{{930,343},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>two</key>
            <dict>
                <key>frame</key>
                <string>{{1936,108},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>two_small</key>
            <dict>
                <key>frame</key>
                <string>{{930,375},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
            <key>zero</key>
            <dict>
                <key>frame</key>
                <string>{{1992,114},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>zero_small</key>
            <dict>
                <key>frame</key>
                <string>{{959,436},{21,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,30}}</string>
                <key>sourceSize</key>
                <string>{21,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{2046,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeb5f9cbd3fb2172612be7f79d9d631f:d4857ff05005b531da4825cda06fc2f9:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
