<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background1</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{432,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,768}}</string>
                <key>sourceSize</key>
                <string>{432,768}</string>
            </dict>
            <key>broken_copter_left_wing</key>
            <dict>
                <key>frame</key>
                <string>{{1453,494},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>broken_copter_right_wing</key>
            <dict>
                <key>frame</key>
                <string>{{1479,494},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>buildings</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{432,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,285}}</string>
                <key>sourceSize</key>
                <string>{432,285}</string>
            </dict>
            <key>cloud1</key>
            <dict>
                <key>frame</key>
                <string>{{1226,405},{168,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,96}}</string>
                <key>sourceSize</key>
                <string>{168,96}</string>
            </dict>
            <key>copter_01</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,18}}</string>
                <key>sourceSize</key>
                <string>{66,18}</string>
            </dict>
            <key>copter_02</key>
            <dict>
                <key>frame</key>
                <string>{{1206,226},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>copter_03</key>
            <dict>
                <key>frame</key>
                <string>{{1759,434},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,18}}</string>
                <key>sourceSize</key>
                <string>{24,18}</string>
            </dict>
            <key>copter_04</key>
            <dict>
                <key>frame</key>
                <string>{{126,471},{48,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,18}}</string>
                <key>sourceSize</key>
                <string>{48,18}</string>
            </dict>
            <key>eight</key>
            <dict>
                <key>frame</key>
                <string>{{770,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>five</key>
            <dict>
                <key>frame</key>
                <string>{{826,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>four</key>
            <dict>
                <key>frame</key>
                <string>{{882,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>get_ready</key>
            <dict>
                <key>frame</key>
                <string>{{412,436},{261,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,63}}</string>
                <key>sourceSize</key>
                <string>{261,63}</string>
            </dict>
            <key>ground</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{432,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,222}}</string>
                <key>sourceSize</key>
                <string>{432,222}</string>
            </dict>
            <key>hammer</key>
            <dict>
                <key>frame</key>
                <string>{{1715,387},{63,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,45}}</string>
                <key>sourceSize</key>
                <string>{63,45}</string>
            </dict>
            <key>hammer_string</key>
            <dict>
                <key>frame</key>
                <string>{{1541,444},{9,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,45}}</string>
                <key>sourceSize</key>
                <string>{9,45}</string>
            </dict>
            <key>leaderboard_button</key>
            <dict>
                <key>frame</key>
                <string>{{1557,229},{156,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,90}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>leaderboard_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1557,321},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>nine</key>
            <dict>
                <key>frame</key>
                <string>{{938,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>one</key>
            <dict>
                <key>frame</key>
                <string>{{70,471},{24,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{24,54}</string>
            </dict>
            <key>platform</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{408,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{408,33}}</string>
                <key>sourceSize</key>
                <string>{408,33}</string>
            </dict>
            <key>play_button</key>
            <dict>
                <key>frame</key>
                <string>{{1715,229},{156,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>play_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1557,411},{156,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,90}</string>
            </dict>
            <key>player1</key>
            <dict>
                <key>frame</key>
                <string>{{1453,444},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>player1_blink</key>
            <dict>
                <key>frame</key>
                <string>{{1715,434},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>player1_idle</key>
            <dict>
                <key>frame</key>
                <string>{{1497,444},{42,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,48}}</string>
                <key>sourceSize</key>
                <string>{42,48}</string>
            </dict>
            <key>rate_button</key>
            <dict>
                <key>frame</key>
                <string>{{675,436},{93,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,57}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>rate_button_selected</key>
            <dict>
                <key>frame</key>
                <string>{{1396,405},{93,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,55}}</string>
                <key>sourceSize</key>
                <string>{93,57}</string>
            </dict>
            <key>seven</key>
            <dict>
                <key>frame</key>
                <string>{{994,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>six</key>
            <dict>
                <key>frame</key>
                <string>{{1050,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>swing_copters_title_01</key>
            <dict>
                <key>frame</key>
                <string>{{1640,2},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_02</key>
            <dict>
                <key>frame</key>
                <string>{{772,289},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_03</key>
            <dict>
                <key>frame</key>
                <string>{{999,289},{225,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,179}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>swing_copters_title_04</key>
            <dict>
                <key>frame</key>
                <string>{{1226,226},{225,177}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,177}}</string>
                <key>sourceSize</key>
                <string>{225,179}</string>
            </dict>
            <key>tap_to_play</key>
            <dict>
                <key>frame</key>
                <string>{{1453,226},{102,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,216}}</string>
                <key>sourceSize</key>
                <string>{102,216}</string>
            </dict>
            <key>three</key>
            <dict>
                <key>frame</key>
                <string>{{1106,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>two</key>
            <dict>
                <key>frame</key>
                <string>{{1162,470},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
            <key>zero</key>
            <dict>
                <key>frame</key>
                <string>{{1780,387},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{36,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlas.png</string>
            <key>size</key>
            <string>{1823,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37b373c6f36c38417891200199de3d1b:2d12a5cb943b27c9624b5a8ebc161eb2:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>atlas.png</string>
        </dict>
    </dict>
</plist>
